svg {
    background-color: #FFF;
    border: 1px solid black;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*noinspection CssUnknownProperty*/
    -o-user-select: none;
    user-select: none;
}

svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

path.link.selected {
    stroke-dasharray: 10,2;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

g.node circle {
    stroke-width: 2px;
    cursor: pointer;
    transform: scale(1);
}

g.node:hover circle {
    transform: scale(1.1);
}

g.node circle.selected {
    stroke: #000 !important;
    stroke-width: 2.5px;
}

g.node text.display {
    display:  inline;
}

g.node:hover text {
    display: inline;
}

g.node text {
    display: none;
    font: 12px sans-serif;
    pointer-events: none;
    text-anchor: middle;
    font-weight: bold;
}