body {
    height: 500px;
    background-color: #afd4e3;
}

h1 {
    text-align: center;
}

.divider{
    width:inherit;
    height:5px;
    display:inline-block;
}

#search {
    float: left;
    width: 20%;
}

#layout {
    float: right;
    width: 20%;
}

#display {
    float: left;
    width: 58%;
    height: 100%;
}


input[type=text] {
    background-color: #f1f1f1;
    width: 80%;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
button {
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    background-color: DodgerBlue;
    color: #fff;
}
button.addTextField {
    background-color: #ff9728;
}


.slider {
    height: 50px;
}

#display svg {
    height: 100%;
    width: 100%;
    cursor: crosshair;
    background-color: #ffffff;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*noinspection CssUnknownProperty*/
    -o-user-select: none;
    user-select: none;
}

#display svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}
