body {
    height: 500px;
}

h1 {
    text-align: center;
}

#search {
    float: left;
    width: 20%;
}

#display {
    float: left;
    width: 58%;
    height: 600px;
    border: 1px solid black;
}

#layout {
    float: right;
    width: 20%;
}

.slider {
    height: 50px;
}

#display svg {
    height: 100%;
    width: 100%;

    background-color: #FFF;

    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*noinspection CssUnknownProperty*/
    -o-user-select: none;
    user-select: none;
}

#display svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}
